:root {
    --color-primary-100: #E9F3F9;
    --color-primary-300: #C8E0F1;
    --color-primary-400: #A7CEE8;
    --color-primary-200: #66A9D7;
    --color-primary-500: #2484C6;
    --color-primary-600: #2077B2;
    --color-primary-700: #164F77;
    --color-primary-800: #103B59;
    --color-primary-900: #0B283B;
}